:root {
    --couleur-principale: #1E5DFF;
    --couleur-secondaire: #FF8D00;
    --couleur-vert: #80FF00;
    --bleu: #275D9D;
    --vert: #D2E4BB;
    --orange: #E67C33;
}

.footer-container {
    background: linear-gradient(0deg, var(--vert) 0%, var(--vert) 100%);
}

.footer-container h1{
    text-align: center;
}

.footer {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.custom-shape-divider-bottom-1671971675 {
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1671971675 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1671971675 .shape-fill {
    fill: var(--vert);
}

.copyright{
    display: grid;
    place-items: center;
    padding: 1rem;
    color: #777777;
}

.copyright p{
    margin: 0;
    padding: 0;
    text-align: center;
}

.copyright a {
    text-decoration: none;
    color: rgb(132, 0, 255);
    font-weight: bolder;
}