.partenaires {
    overflow: hidden;
    text-align: center;
    margin-block: 50px;
}

.partenaires img {
    height: 100px;
    margin: 15px;
    transition: all .2s ease-in-out;
}

.partenaires img:hover {
    transform: scale(1.2);
}

.paper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #ffffff !important;
    margin-top: 50px;
}

@media screen and (max-width: 500px) {
   .partenaires img {
    height: 75px;
   }
}