:root {
    --couleur-principale: #1E5DFF;
    --couleur-secondaire: #FF8D00;
    --couleur-vert: #80FF00;
}

.solutions-container {
    text-align: center;
    padding: 1rem;
    background-image: url('../assets/layered-waves-haikei-top.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.solutions {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    text-align: center;
}

.solutions a {
    text-decoration: none;
}

.solution {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    margin: 10px auto;
    width: 320px;
}

@media screen and (min-width: 500px){
    .solution {
        transition: all 0.2s ease-in-out !important; 
        margin: 50px;
    }
}

.solution:hover {
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}

.solution img {
    width: inherit;
    height: inherit;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.solution a {
    text-decoration: none;
    color: var(--couleur-secondaire);
}

.solution a:hover {
    color: #ffbd5a;
}

.card-content { 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    height: 350px;
}