.radio-sel {
    flex-grow: 1;
    flex-direction: row-reverse;
    border: 1px solid;
    border-radius: 8px;
}

.radio-sel:checked {
    border-color: blue;
    border: 5px solid;
}

.logo {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 3;
}

.navbar {
    background-color: white;
}

.navbar a:hover {
    color: #ff5722;
}

.navbar .dropdown-menu {
    border: white;
    box-shadow: 1px 1px 2px red;
}

.navbar .dropdown-menu .dropdown-item:hover {
    background-color: transparent;
}

.head {
    background-image: url('./assets/layered-waves-haikei (5).svg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

video {
    width: 100%;
    border-radius: 5px;
}

@media only screen and (min-width: 768px) {
    video {
        width: 900px;
    }
}

.noValid {
    background-color: rgba(255, 0, 0, 0.2) !important;
    color: red;
}

.section-title {
    font-size: x-small;
}

.feedback {
    padding-top: 50px;
    padding-bottom: 50px;
}

.feedback p {
    margin-top: 15px;
    margin-bottom: 15px;
}

.realisations img {
    width: 480px;
    height: 270px;
    object-fit: cover;
    border-radius: 5px;
}

.carousel-container {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}

.carousel {
    width: 480px;
    margin: 15px auto;
}

@media screen and (max-width: 500px) {
    .carousel {
        width: 100%;
    }

    .realisations img {
        object-fit: cover;
    }
}

.description {
    text-align: center;
    margin: 50px auto;
    padding: 15px;
}

.aide {
    margin: 50px;
}

@media screen and (max-width: 500px) {
    .aide {
        margin: 0;
    }
    .aide img {
        width: 100%;
    }
}