.radio-sel {
    flex-grow: 1;
    flex-direction: row-reverse;
    border: 1px solid;
    border-radius: 8px;
}

.radio-sel:checked {
    border-color: blue;
    border: 5px solid;
}

.navbar {
    font-size: large;
    transition: .2s;
}

.solid-navbar {
    background-color: white;
}

.solid-navbar a:hover {
    color: #ff5722;
}

.navbar a:hover {
    color: #ff5722;
}

.navbar .dropdown-menu {
    border: white;
    box-shadow: 1px 1px 2px red;
}

.navbar .dropdown-menu .dropdown-item:hover {
    background-color: transparent;
}

.head {
    background-image: url('./assets/layered-waves-haikei (5).svg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

video {
    width: 100%;
    border-radius: 5px;
}

.noValid {
    background-color: rgba(255, 0, 0, 0.2) !important;
    color: red;
}

.section-title {
    font-size: x-small;
}

.feedback {
    padding-top: 50px;
    padding-bottom: 50px;
}

.feedback p {
    margin-top: 15px;
    margin-bottom: 15px;
}

.realisations img {
    width: 480px;
    height: 270px;
    object-fit: cover;
    border-radius: 5px;
}

.carousel-container {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}

.carousel {
    width: 480px;
    margin: 15px auto;
}

@media screen and (max-width: 500px) {
    .carousel {
        width: 100%;
    }

    .realisations img {
        object-fit: cover;
    }
}

.description {
    text-align: center;
    margin: 50px auto;
    padding: 15px;
}

.aide {
    margin: 50px;
}

@media screen and (max-width: 500px) {
    .aide {
        margin: 0;
    }

    .aide img {
        width: 100%;
    }
}

h5 {
    margin-top: 25px !important;
}

.page-img {
    max-width: 90vw;
}

.hero {
    min-height: 70dvh;
    background-image: url('./assets/hero4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text {
    min-height: 70dvh;
    color: white;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.hero-text h1, .little-about h1 {
    font-size: 3.5rem;
}


@media screen and (max-width: 750px) {
    .hero-text h1, .little-about h1 {
        font-size: 2.5rem;
    }
}
@media screen and (max-width: 500px) {
    .hero-text h1, .little-about h1 {
        font-size: 1.5rem;
    }

    .little-about h2 {
        font-size: 1rem;
    }
}


.little-about {
    min-height: 30dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}