:root {
    --couleur-principale: #1E5DFF;
    --couleur-secondaire: #FF8D00;
    --couleur-vert: #80FF00;
}

.radio-sel {
    flex-grow: 1;
    flex-direction: row-reverse;
    border: 1px solid;
    border-radius: 8px;
}

.radio-sel:checked {
    border-color: blue;
    border: 5px solid;
}

.navbar {
    font-size: large;
    transition: .2s;
}

.solid-navbar {
    background-color: white;
}

.solid-navbar a:hover {
    color: var(--couleur-secondaire);
}

.navbar a:hover {
    color: var(--couleur-secondaire);
}

.navbar .dropdown-menu {
    border: white;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.404);
}

.navbar .dropdown-menu .dropdown-item:hover {
    background-color: transparent;
}

.head {
    background-image: url('./assets/layered-waves-haikei (5).svg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

video {
    width: 100%;
    border-radius: 5px;
}

.noValid {
    background-color: rgba(255, 0, 0, 0.2) !important;
    color: red;
}

.section-title {
    font-size: x-small;
}

.feedback {
    padding-top: 50px;
    padding-bottom: 50px;
}

.feedback p {
    margin-top: 15px;
    margin-bottom: 15px;
}

.realisations img {
    width: 480px;
    height: 270px;
    object-fit: cover;
    border-radius: 5px;
}

.carousel-container {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}

.carousel {
    width: 480px;
    margin: 15px auto;
}

.carte-de-visite img {
    object-fit: cover;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    width: 8rem;
    height: 8rem;
}

@media screen and (max-width: 500px) {
    .carte-de-visite img {
        width: 300px;
        height: 300px;
        margin: auto;
    }

    .carousel {
        width: 100%;
    }

    .realisations img {
        object-fit: cover;
    }
}

.description {
    text-align: center;
    margin: 50px auto;
    padding: 15px;
}

.aide {
    margin: 50px;
}

@media screen and (max-width: 500px) {
    .aide {
        margin: 0;
    }

    .aide img {
        width: 100%;
    }
}

h5 {
    margin-top: 25px !important;
}

.page-img {
    max-width: 90vw;
}

.hero {
    min-height: 70vh;
    background-image: url('./assets/solvia-hero-2.png');
    background-repeat: no-repeat;
    background-size: cover;

}

.hero-text {
    min-height: 70vh;
    color: white;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 3.5rem !important;
}

h2 {
    font-size: 2rem !important;
}


@media screen and (max-width: 750px) {
    h1 {
        font-size: 2.5rem !important;
    }
}

@media screen and (max-width: 500px) {
    h1 {
        font-size: 1.5rem !important;
    }

    h2 {
        font-size: 1rem !important;
    }
}


.little-about {
    min-height: 30svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.counter-banner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
    background-color: var(--couleur-secondaire);
    padding: 4rem;
}

.counter {
    text-align: center;
    color: white;
    border-radius: 5px;
    padding: 1rem;
    max-width: 22rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.counter h1 {
    font-size: 6rem;
}